<figure class="card">
    <div class="card_emoji">{%IMAGE%}{%IMAGE%} 
    </div>
    
    <div class="card_title-box">
        <h2 class="card_title"> {%PRODUCTNAME%} </h2>
    </div>

    <div class="card_details">
        <div class="card_details-box {%NOT_ORGANIC%} ">
            <h6 class="card_detail card_detail--organic">Organinc!</h6>
        </div>
        <div class="card_details-box ">
            <h6 class="card_detail">{%QUANTITY%} per 📦</h6>
        </div>

        <div class="card_details-box" >
            <h6 class="card_detail card_detail--price"> ₹ {%PRICE%} </h6>
        </div>

    </div>

    <a href="/product?id={%ID%}" class="card_link">
        <span>Detail <i class="emoji-right">👉</i></span>
    </a>

</figure>